* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
  height: 80px;
  margin-top: 30px;
  display: flex;
 justify-content: space-between;

}
.headerleft{
  width: 300px;
  background-color:
  height: 100%;

}

.header-right{
  width: 600px;
  background-color:
  height: 100%;
}
.logo{
  width: 80px;
  height: 80px;
  background-color: transparent;
}
.info{
  text-decoration: none;
  color: rgb(85, 87, 89);
  font-size: 20px;
}
.info:hover{
  color: black;
}
.dropdown-menu{
  position: absolute;
top: 50px;
right: 100;
width: 120px;
height: 250px;
background-color: white;
padding: 10px;
display: none;
}

.menu {
  display: inline-block;
  margin-right: 35px;
  text-decoration:none;
  color: rgb(85, 87, 89);
}
.menu :hover{
  color: black;
}
a{
  text-decoration:none;
  color: rgb(85, 87, 89);
}
